* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Text";
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: url(./image1.png), url(./image2.png);
    background-size: cover, cover;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headertext {
    font-size: 22px;
    font-weight: 700;
    line-height: 29.11px;
    letter-spacing: 7.5px;
    text-underline-position: from-font;
    color: white;
    width: 460px;
    height: 29px;
    text-transform: uppercase;
    text-align: center;
}

.mainbox {
    display: flex;
    justify-content: center; 
    width: 100%;
}

.countdown {
   width: 688px;
   height: 177px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.count {
    width: 148px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


.count h2 {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FB5E84;
    font-size: 80px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -2.4000000953674316px;
    text-align: center;
    background-image: url(./080808-Photoroom\ \(1\)\ \(1\).png);
}


.count p {
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    line-height: 18.52px;
    letter-spacing: 5.918749809265137px;
    text-align: center;
    text-underline-position: from-font;
    color: #8385A9;
    text-transform: uppercase;
    padding-top: 16px;
    padding-left: 2px;
}

 .footer {
    background-image: url(./image3.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom center ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    align-items: end;

} 

 .socials {
    height: 250px;
    display: flex;
    gap: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
} 

#facebook {
    cursor: pointer;
}

#instagram {
    cursor: pointer;
}

#pinterest {
    cursor: pointer;
}


@media (max-width: 1250px) {
    .socials {
        height: 80px;   
    }
}

@media (max-width: 850px) {
    .header {
        height: 200px;
    }
    
    .headertext {
        font-size: 18px;
    }
    
    .count p {
        font-size: 12px;
    }
}   

@media (max-width: 700px) {
    .header {
        height: 250px;
    }
    
    .headertext {
        font-size: 18px;
        font-weight: 700;
        line-height: 23.11px;
        letter-spacing: 6.14px;
    }
    
    .mainbox {
        display: flex;
        justify-content: center; 
        width: 100%;
    }
    
    .countdown {
        width: 327px;
        height: 250px;
    }
    
    .count {
        height: auto;
        width: 100%;
    }
    
    .count h2 {
        height: 73px;
        font-size: 36px;
        line-height: 71px;
        letter-spacing: -1.8px;
        background-image: url(./080808-Photoroom\ \(1\)\ \(1\)\ \(1\).png);
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .count p {
        font-size: 7px;
        line-height: 9.52px;
        letter-spacing: 2.92px;
        padding-top: 9px;
    }

    .footer {
        padding-bottom: 20px; 
        background-image: url(./backbackback.png);
    }

    .socials {
        width: 100vw;
        height: 150px;
        align-items: center;
        padding-bottom: 20px;
    }
}
