* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Text";
    overflow: hidden;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: url(./image1.png), url(./image2.png);
    background-size: cover, cover; 
    background-position: center, center; 
    background-repeat: no-repeat, no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.header {
font-size: 22px;
font-weight: 700;
line-height: 29.11px;
letter-spacing: 7.5px;
text-underline-position: from-font;
color: white;
width: 460px;
height: 29px;
text-transform: uppercase;
}

.mainbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 688px;
    height: 184px;
    padding-bottom: 151px;
    padding-top: 104px;
}


.title {
    width: 148px;
    height: 150px;
    background-color: #343650;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    width: 104px;
height: 71px;
font-size: 80px;
font-weight: 700;
line-height: 71px;
letter-spacing: -2.4000000953674316px;
color: #FB5E84;
text-align: center;
}

p {
    width: 148px;
height: 18px;
font-size: 14px;
font-weight: 700;
line-height: 18.52px;
letter-spacing: 5.918749809265137px;
text-align: center;
text-underline-position: from-font;
color: #8385A9;
text-transform: uppercase;
padding-top: 16px;
}

.footer {
    background-image: url(image3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 286px;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.socials {
    display: flex;
    position: relative;
    gap: 32px;
    justify-content: center;
    display: flex;
    align-items: center;
    top: 170px;
}